{% import "macros/breadcrumb.html.twig" as utils %}

{% extends 'admin/base.html.twig' %}

{% block breadcrumb %}
{{ utils.breadcrumb('Create New User',[
{
path:path('user_index'),
name:'Manage users'
}
])}}
{% endblock %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="card card-outline card-primary">
    <div class="card-header">
        <h3>Create new User</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                {{ include('admin/user/_form.html.twig') }}
                <a href="{{ path('user_index') }}">back to list</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}