{% extends 'admin/base.html.twig' %}
{% block title %}Edit Formation{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h3>Edit Formation</h3>
    </div>
    <div class="card-body">
        {{ include('admin/formation/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>
{% endblock %}
