{% extends 'admin/base.html.twig' %}
{% import "macros/link.html.twig" as link %}
{% block title %}New Formation{% endblock %}

{% block body %}
<div class="card card-outline card-dark">
    <div class="card-header">
        <h3>Create new Formation</h3>
    </div>
    <div class="card-body">
        {{ include('admin/formation/_form.html.twig') }}
        {{ link.back(path('admin_formation_index')) }}
        {# <a href="{{ path('admin_formation_index') }}">back to list</a> #}
    </div>
</div>
{% endblock %}