{% extends 'admin/base.html.twig' %}
{% import "macros/breadcrumb.html.twig" as breadcrumb %}
{% block title %}New Formation{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.breadcrumb('New formation',[
        {
            name:'Manage formation',
            path:path('admin_formation_index')
        }
    ]) }}
{% endblock %}

{% block body %}
<div class="card card-outline card-dark">
    <div class="card-header">
        <h3>Create new Formation</h3>
    </div>
    <div class="card-body">
        {{ include('admin/formation/_form.html.twig') }}
    </div>
</div>
{% endblock %}