{% extends 'admin/base.html.twig' %}
{% block title %}New Matiere
{% endblock %}
{% block body %}
<div class="card card-outline card-dark">
	<div class="card-header">
		<h1>Create new Matiere</h1>
	</div>
	<div class="card-body">
		{{ include('admin/matiere/_form.html.twig') }}
	</div>
</div>
{% endblock %}
