<form method="post" action="{{ path('admin_coefficient_matiere_delete', {'id': coefficient_matiere.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coefficient_matiere.id) }}">
    <button class="btn">Delete</button>
</form>
