{% extends 'admin/base.html.twig' %}
{% block title %}New Departement
{% endblock %}

{% block body %}
	<div class="card card-outline card-dark">
		<div class="card-header">
			<h3>Create new Departement</h3>
		</div>
		<div class="card-body">
			{{ include('admin/departement/_form.html.twig') }}
		</div>
	</div>
{% endblock %}
