{% extends 'admin/base.html.twig' %}

{% block title %}
    Edit Professeur
{% endblock %}

{% block body %}
    <h1>
        Edit Professeur
    </h1>

    {{ include('admin/professeur/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
