{% extends 'admin/base.html.twig' %}
{% import "macros/breadcrumb.html.twig" as breadcrumb %}
{% block title %}New Professeur{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.breadcrumb('Professeurs',[
        {
            name:'Professeurs',
            path:path('admin_professeur_index')
        }
    ]) }}
{% endblock %}

{% block body %}
<div class="card card-outline card-primary">
    <div class="card-header">
        <h1>Create new Professeur</h1>
    </div>
    <div class="card-body">
        {{ include('admin/professeur/_form.html.twig') }}

    </div>
</div>


{% endblock %}
